@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
:root{
  --section_height: 50vh;
}
*{
  font-family: 'Lustria', serif;
  font-size: calc(10px + 2vmin);
}
/*============================body sections===========================*/
html{scroll-behavior: smooth;}
.bg_center {
  background-color: #ffc863;
  min-height: var(--section_height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

articler {
  float: right;
  padding: 20px;
  width: 30%;
  background-color: #969696;
  min-height: var(--section_height);
  text-align: center;
  border: 3px solid green;
}
articlel {
  float: left;
  padding: 20px;
  width: 30%;
  background-color: #969696;
  min-height: var(--section_height);
  border: 3px solid green;
}
articlef {
  float: left;
  padding: 20px;
  width: 30%;
  background-color: #ffffff;
  border: 3px solid green;
}
footer{
  text-align: center;
  padding: 3px;
}
/*=============================alignment======================*/
.centered {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.contents-right{margin-left: auto; margin-right: 0;}
.contents-left{margin-right: auto; margin-left: 0;}

.Logo{
  z-index: 999;
}

